# ─── Entorno ────────────────────────────────────────────────────────────────
.env

# ─── Dependencias ───────────────────────────────────────────────────────────
/vendor/

# ─── Cache de tests ────────────────────────────────────────────────────────
.phpunit.result.cache

# ─── Uploads de usuarios ────────────────────────────────────────────────────
/images/sellos/*
